<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>华度货运，香港华度货运</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="华度货运，香港华度货运">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="www.kwanson.com">
    <meta name="version" content="v.1.0.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="format-detection" content="telephone=no, address=no">
    <link rel="stylesheet" href="/Public/wcd56/mobile/css/mobile.css">
    <style>
        .load-more{
            border:1px solid #7aca48 ;
            width: 50%;
            font-size: 14px;
            margin: 1rem auto;
            text-align: center;
            padding: .25rem;
        }
    </style>
</head>
<body>
<header class="header clear">
    <a href="javascript:history.back();" class="back">返回</a>
    <h1><em class="icon">&#xe635;</em></h1>
</header>
<section class="crm manufacture clear">
    <div class="box">
        <div class="box_t clear">
            <h3 class="fl">发货地址</h3>
            <!--<div class="box_t_btn fr">-->
            <!--<a href="add_delivery.html"><i class="icon">&#xe613;</i>新增发货通知单</a>-->
            <!--</div>-->
            <!--<div class="search_box fr clear">-->
            <!--<input class="fl" type="text" placeholder="请输入关键字"/>-->
            <!--<button class="fl" type="submit"><i class="icon">&#xe617;</i></button>-->
            <!--</div>-->
        </div>
        <div class="box_c clear" id="deliveryList" v-cloak>
            <template v-for="item in list">
                <a href="" :title="item.company">
                    <div class="manufacture_item">
                        <div class="mf_item_h clear">
                            <!--<div class="fl">{$v.company}</div>-->
                            <div class="fl" style="max-width: 60%">Guangzhou Vdoou Network Technology Co.Lmt.td</div>
                            <div class="fr" v-if="item.is_default == 1">
                                    <span>默认地址</span>
                            </div>
                        </div>
                        <div class="mf_item_c">
                            <div class="mf_item_c_m clear">
                                <div class="mf_info fl">
                                    <p v-show="item.company">公司名称：{{item.company}}</p>
                                    <p>联系人：{{item.consignor}}</p>
                                        <p v-show="item.mobile">手机：{{item.mobile}}</p>
                                        <p v-show="item.phone">座机：{{item.phone}}</p>
                                    <!--<p style="width: 75%">详细地址：{$v.detail_address}</p>-->
                                </div>
                                <div class="mf_v">
                                    <i class="icon">&#xe60f;</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </template>
            <div class="load-more" @click="loadNext">{{loading ? '加载中' : '点击加载更多'}}</div>
        </div>
    </div>
</section>
<div style="height: 4rem;"></div>
<script src="/Public/wcd56/zepto/1.2.0/zepto.min.js"></script>
<script src="/Public/wcd56/vue/2.3.4/vue.min.js"></script>
<script>
    Vue.config.devtools = true;
    var deliveryList = new Vue({
        el: "#deliveryList",
        data: {
            list: [],
            page: 1,
            loading: false,
            ended: false,
            keyword: ""
        },
        mounted: function () {
            this.getList()
        },
        methods: {
            getList: function () {
                var that = this;
                if (!this.loading) {
                    this.loading = true;
                    $.ajax({
                        url: "/Mobile/Delivery/getData",
                        data: {
                            p : that.page
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (res) {
                            console.log("res",res);
                            var resData = res;
                            for(var i = 0 , len = resData.length;i<len;i++){
                                that.list.push(resData[i])
                            }
                            that.loading = false;
                        }
                    })
                }
            },
            doSearch: function () {
                var keyword = this.keyword;
                this.page = 1;

            },
            loadNext: function () {
                if (!this.loading) {
                    this.page++;
                    this.getList();
                }
            }
        },
        filters: {
            orderStatus: function (status) {

            }
        }
    })
</script>
</body>
</html>