<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>华度货运，香港华度货运</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="华度货运，香港华度货运">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="www.kwanson.com">
    <meta name="version" content="v.1.0.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="format-detection" content="telephone=no, address=no">
    <link href="/Public/wcd56/mobile/css/mobile.css" rel="stylesheet">
    <link href="/Public/wcd56/mobile/css/form.css" rel="stylesheet">
    <!--<link href="__PUBLIC__/css/base.css" rel="stylesheet"/>-->
    <style>
        .id-card {
            width: 100%;
            height: calc((100vw - 52px) * 0.625);
            margin: 4px auto;
            overflow: hidden;
        }

        .id-card img {
            width: 100%;
        }

        .box_c.box_c_reset {
            overflow-x: scroll;
        }

        .common_list dd {
            text-align: left;
        }

        .edit-pane {
            padding: 16px;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: #fff;
            z-index: 10;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .pane-header {
            height: 32px;
        }

        .close-pane {
            width: 16px;
            height: 16px;
            position: relative;
            border-radius: 50%;
            color: #78cc40;
            border: 1px solid #78cc40;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            float: right;
        }

        .opt2 {
            position: absolute;
            right: 0;
            background-color: #fff;
        }
    </style>
</head>
<body>
<header class="header clear">
    <a href="javascript:history.back();" class="back">返回</a>
    <!--<h1><em class="icon">&#xe635;</em></h1>-->
</header>

<div id="fee">
    <section class="clear">
        <dl class="common_list form-container">
            <dt>运费预算</dt>
            <dd class="clear">
                <div class="form-group flex-row flex-center">
                    <label class="control-label">国家</label>
                    <div class="flex-1">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="form-group flex-row flex-center">
                    <label class="control-label">国家</label>
                    <div class="flex-1">
                        <select class="form-control"></select>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="common_list">
            <dd>
                <div class="box_c box_c_reset">
                    <table class="table" style="min-width: 600px">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>重量</th>
                            <th>长*宽*高 (cm)</th>
                            <th>材积重</th>
                            <th>箱数</th>
                            <th class="opt">操作</th>
                        </tr>
                        </thead>
                        <tbody id="detail-content">
                        <tr v-for="(item,index) in feeList" :id="'detail-item-'+index">
                            <td>{{index+1}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.length}}*{{item.weight}}*{{item.height}}</td>
                            <td>{{item.rate}}</td>
                            <td>{{item.count}}</td>
                            <td class="opt">
                                <div @click="editPackage(index)">编辑</div>
                                <div @click="removePackage(index)">删除</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-total">合计</td>
                            <td>{{totalWeight}}</td>
                            <td></td>
                            <td>{{totalRate}}</td>
                            <td>{{totalCount}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn btn-primary" @click="addPackage">添加包裹</div>
                <div class="btn btn-primary">运费预算</div>
            </dd>
        </dl>
    </section>
    <div class="edit-pane flex-col" v-show="showEditPanel">
        <div class="pane-header">
            <div class="close-pane" @click="showEditPanel = false">×</div>
        </div>
        <div class="form-container">
            <div class="form-group flex-row flex-center">
                <label class="control-label">重量</label>
                <input type="number" class="form-control flex-1" v-model="tempData.weight" @blur="countRate">
            </div>
            <div class="form-group flex-row flex-center">
                <label class="control-label">长</label>
                <input type="number" class="form-control flex-1" v-model="tempData.length" @blur="countRate">
            </div>
            <div class="form-group flex-row flex-center">
                <label class="control-label">宽</label>
                <input type="number" class="form-control flex-1" v-model="tempData.width" @blur="countRate">
            </div>
            <div class="form-group flex-row flex-center">
                <label class="control-label">高</label>
                <input type="number" class="form-control flex-1" v-model="tempData.height" @blur="countRate">
            </div>
            <div class="form-group flex-row flex-center">
                <label class="control-label">材积重</label>
                <input type="number" class="form-control flex-1" v-model="tempData.rate" disabled>
            </div>
            <div class="form-group flex-row flex-center">
                <label class="control-label">箱数</label>
                <input type="number" class="form-control flex-1" v-model="tempData.count">
            </div>
            <div class="btn btn-primary" style="margin-top: 1rem" @click="savePackage">
                保存
            </div>
        </div>
    </div>
</div>

<script src="/Public/wcd56/zepto/1.2.0/zepto.min.js"></script>
<script src="/Public/wcd56/vue/2.3.4/vue.min.js"></script>
<script>
    var fee = new Vue({
        el: "#fee",
        data: {
            showEditPanel: false,
            feeList: [
                {
                    weight: 1,
                    length: 10,
                    width: 20,
                    height: 10,
                    rate: 1,
                    count: 10
                }
            ],
            currPackageIndex: 0,
            tempData: {},
            totalWeight: 0,
            totalRate: 0,
            totalCount: 0
        },
        methods: {
            toggleEditPanel: function () {
                this.showEditPanel = !this.showEditPanel;
            },
            addPackage: function () {
                this.feeList.push({
                    weight: 0,
                    length: 0,
                    width: 0,
                    height: 0,
                    rate: 0,
                    count: 0
                })
            },
            editPackage: function (index) {
                if (index >= 0) {
                    this.tempData = this.feeList[index];
                    this.currPackageIndex = index;
                } else {
                    this.currPackageIndex = -1;
                    this.tempData = {
                        weight: 0,
                        length: 0,
                        width: 0,
                        height: 0,
                        rate: 0,
                        count: 0
                    }
                }

                this.showEditPanel = true
            },
            countRate: function () {
                var tempData = this.tempData;
                if (tempData.length && tempData.width && tempData.height) {
                    var t1 = (tempData.length * tempData.width * tempData.height) / 5000,
                        t2 = tempData.weight;
                    this.tempData.rate = t1 > t2 ? t1 : t2;
                }
            },
            countTotal: function () {
                var len = this.feeList.length, feeList = this.feeList;
                var weight = 0, rate = 0, count = 0;
                if (len > 0) {
                    for (var i = 0; i < len; i++) {
                        weight += Number(feeList[i].weight);
                        rate += Number(feeList[i].weight);
                        count += Number(feeList[i].count);
                    }
                    this.totalWeight = weight;
                    this.totalRate = rate;
                    this.totalCount = count;
                }
            },
            removePackage: function (index) {
                this.feeList.splice(index, 1);
                this.countTotal();
            },
            savePackage: function () {
                if (this.currPackageIndex >= 0) {
                    this.feeList[this.currPackageIndex] = this.tempData;
                    this.showEditPanel = false;
                }
                this.countTotal()
            }
        },
        mounted: function () {
            this.countTotal()
        },
        watch: {}

    })
</script>
</body>
</html>