<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>华度货运，香港华度货运</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="华度货运，香港华度货运">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="www.kwanson.com">
    <meta name="version" content="v.1.0.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="format-detection" content="telephone=no, address=no">
    <link rel="stylesheet" href="/Public/wcd56/mobile/css/base.css">
    <link rel="stylesheet" href="/Public/wcd56/mobile/css/mobile.css">
    <style>
        .box_c.box_c_reset {
            overflow-x: scroll;
        }

        .table {
            background-color: #fff;
            text-align: left;
        }

        td,th{
            min-width: 70px;
            border-bottom: 1px solid #ddd;
        }

        .trace-btn{
            text-align: center;
            background-color: #7aca48;
            color: #fff;
            font-size: 16px;
            padding: .25rem;
            width: 50%;
            margin: 1rem auto;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<header class="header clear">
    <a href="javascript:history.back();" class="back">返回</a>
    <!--<h1><em class="icon">&#xe635;</em></h1>-->
</header>
<section id="detail" class="manufacture_detail clear">
    <dl class="common_list">
        <dt>订单-详情</dt>
        <dd class="clear">
            <label class="fl">订单号</label>
            <span class="fr">{$order.order_num}</span>
        </dd>
        <dd class="clear">
            <label class="fl">状态</label>
            <span class="fr">{$order.status_str}</span>
        </dd>
    </dl>
    <dl class="common_list">
        <dt id="dt_menu"><em id="dt_menu_text">发货地址</em><i class="icon">&#xe642;</i></dt>
        <div class="dt_menu">
            <ul>
                <li>发货地址</li>
                <li>收货地址</li>
                <li>订单信息</li>
                <li>商品详情</li>
                <li>规格</li>
            </ul>
        </div>
    </dl>
    <dl class="common_list dl_detail" id="dl_1">
        <if condition="$order.delivery_company neq ''">
            <dd class="clear">
                <label class="fl">发货公司</label>
                <span class="fr">{$order.delivery_company}</span>
            </dd>
        </if>
        <dd class="clear">
            <label class="fl">联系人</label>
            <span class="fr">{$order.delivery_consignor}</span>
        </dd>
        <dd class="clear">
            <label class="fl">国家</label>
            <span class="fr">{$order.delivery_country_name} / {$order.delivery_country_en_name}</span>
        </dd>
        <dd class="clear">
            <label class="fl">省</label>
            <span class="fr">{$order.delivery_state}</span>
        </dd>
        <dd class="clear">
            <label class="fl">城市</label>
            <span class="fr">{$order.delivery_city}</span>
        </dd>
        <dd class="clear">
            <label class="fl">具体地址</label>
            <span class="fr">{$order.delivery_detail_address}</span>
        </dd>
        <dd class="clear">
            <label class="fl">邮编</label>
            <span class="fr">{$order.delivery_postal_code}</span>
        </dd>
        <dd class="clear">
            <label class="fl">手机</label>
            <span class="fr">{$order.delivery_mobile}</span>
        </dd>
        <dd class="clear">
            <label class="fl">座机</label>
            <span class="fr">{$order.delivery_phone}</span>
        </dd>
        <dd class="clear">
            <label class="fl">出口商代码</label>
            <span class="fr">{$order.exporter_code}</span>
        </dd>
    </dl>
    <dl class="common_list dl_detail" id="dl_2">
        <if condition="$order.receive_company neq ''">
            <dd class="clear">
                <label class="fl">收货公司</label>
                <span class="fr">{$order.receive_company}</span>
            </dd>
        </if>
        <dd class="clear">
            <label class="fl">联系人</label>
            <span class="fr">{$order.receive_addressee}</span>
        </dd>
        <dd class="clear">
            <label class="fl">国家</label>
            <span class="fr">{$order.receive_country_name} / {$order.receive_country_en_name}</span>
        </dd>
        <dd class="clear">
            <label class="fl">省</label>
            <span class="fr">{$order.receive_state}</span>
        </dd>
        <dd class="clear">
            <label class="fl">城市</label>
            <span class="fr">{$order.receive_city}</span>
        </dd>
        <dd class="clear">
            <label class="fl">具体地址</label>
            <span class="fr">{$order.receive_detail_address}</span>
        </dd>
        <dd class="clear">
            <label class="fl">邮编</label>
            <span class="fr">{$order.receive_postal_code}</span>
        </dd>
        <dd class="clear">
            <label class="fl">手机</label>
            <span class="fr">{$order.receive_mobile}</span>
        </dd>
        <dd class="clear">
            <label class="fl">座机</label>
            <span class="fr">{$order.receive_phone}</span>
        </dd>
        <dd class="clear">
            <label class="fl">进口商代码</label>
            <span class="fr">{$order.receiver_code}</span>
        </dd>
    </dl>
    <dl class="common_list dl_detail" id="dl_3">
        <dd class="clear">
            <label class="fl">渠道</label>
            <span class="fr">{$order.channel_name} / {$order.channel_en_name}</span>
        </dd>
        <dd class="clear">
            <label class="fl">寄件类型</label>
            <span class="fr">{$order['package_type'] == 1 ? '文件' : '包裹' }</span>
        </dd>
        <dd class="clear">
            <label class="fl">价格条款</label>
            <span class="fr">{$order.price_terms}</span>
        </dd>
        <dd class="clear">
            <label class="fl">关税支付</label>
            <span class="fr">{$order.tariff_payment}</span>
        </dd>
        <dd class="clear">
            <label class="fl">装运参考</label>
            <span class="fr">{$order.shipment_reference}</span>
        </dd>
        <dd class="clear">
            <label class="fl">结汇方式</label>
            <span class="fr">{$order.settlement}</span>
        </dd>
        <dd class="clear">
            <label class="fl">运输方式</label>
            <span class="fr">{$order.mode_of_transportation}. {$order.express_service}</span>
        </dd>
        <dd class="clear">
            <label class="fl">出口原因</label>
            <span class="fr">{$order.export_reason}</span>
        </dd>
        <dd class="clear">
            <label class="fl">出口性质</label>
            <span class="fr">{$order.export_nature}</span>
        </dd>
        <dd class="clear">
            <label class="fl">制造商或出口商及地址</label>
            <span class="fr">{$order.manufacturer}</span>
        </dd>
        <dd class="clear">
            <label class="fl">备注</label>
            <span class="fr">{$order.remark}</span>
        </dd>
        <dd class="clear">
            <label class="fl">托运备注</label>
            <span class="fr">{$order.specifications_remark}</span>
        </dd>
    </dl>
    <dl class="common_list dl_detail" id="dl_4">
        <dd>
            <div class="box_c box_c_reset">
                <table class="table" style="min-width: 800px">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>品名</th>
                        <th>商品编码</th>
                        <th>数量</th>
                        <th>单件申报价值(USD)</th>
                        <th>总申报价值(USD)</th>
                        <th>原产地</th>
                    </tr>
                    </thead>
                    <tbody id="detail-content">
                    <tr v-for="(item,index) in orderList" :id="'detail-item-'+index">
                        <td>{{index+1}}</td>
                        <td>{{item.product_name + ' ' +item.en_product_name}}</td>
                        <td>{{item.detail_goods_code}}</td>
                        <td>{{item.detail_count+item.unit}}</td>
                        <td>{{fixedNum(item.single_declared,2)}}</td>
                        <td>{{fixedNum((item.detail_count*item.single_declared),2)}}</td>
                        <td>{{item.origin}}</td>
                    </tr>
                    <tr v-show="total_declared>0">
                        <td class="table-total">合计</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{total_declared.toFixed(2)}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
    <dl class="common_list dl_detail" id="dl_5">
        <dd>
            <div class="box_c box_c_reset">
                <table class="table" style="min-width: 600px">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th style="min-width: 75px;box-sizing: border-box">品名</th>
                        <th style="min-width: 75px;box-sizing: border-box">商品编码</th>
                        <th style="min-width: 75px;box-sizing: border-box">原产地</th>
                        <th>重量</th>
                        <th>长×宽×高(cm)</th>
                        <th>材积重</th>
                        <th>箱数</th>
                        <th>计费重量</th>
                    </tr>
                    </thead>
                    <tbody id="specifications-content">
                    <template v-for="(spec,index) in specList">
                    <tr>
                        <td :rowspan="spec.cargo.length">{{spec.id}}</td>
                        <template v-for="(cargo,i) in spec.cargo">
                            <td v-show="i==0" >{{cargo.product_name}} {{cargo.en_product_name}}</td>
                            <td v-show="i==0" >{{cargo.detail_goods_code}}</td>
                            <td v-show="i==0" >{{cargo.origin}}</td>
                        </template>
                        <td :rowspan="spec.cargo.length">{{spec.weight}}KG</td>
                        <td :rowspan="spec.cargo.length">{{spec.length}} * {{spec.width}} * {{spec.height}}</td>
                        <td :rowspan="spec.cargo.length">{{spec.rate}}</td>
                        <td :rowspan="spec.cargo.length">{{spec.count}}</td>
                        <td :rowspan="spec.cargo.length">{{spec.charging_weight}}KG</td>
                    </tr>
                    <template v-for="(cargo,i) in spec.cargo">
                    <tr v-show="i>0">
                        <td v-show="i>0" >{{cargo.product_name}} {{cargo.en_product_name}}</td>
                        <td v-show="i>0" >{{cargo.detail_goods_code}}</td>
                        <td v-show="i>0" >{{cargo.origin}}</td>
                    </tr>
                    </template>
                    </template>
                    <tr v-show="specList.length > 0">
                        <td class="table-total">合计</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{total_weight}}KG</td>
                        <td></td>
                        <td>{{total_rate}}KG</td>
                        <td>{{total_order_specifications_count}}</td>
                        <td>{{total_charging_weight}}KG</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
    <dl class="common_list dl_detail" id="dl_6">
        <div class="dd_note">
            * 留意色牢度需用能通过胶纸测试。
            <div class="dd_note_item">
                <h3>* 开料</h3>
                <ul>
                    <li>材料要摆平放平整，不要荷叶边，堆放高度不超过1m</li>
                    <li>要做表面处理，片材达因值38以上，印刷前48H要开料，请小心片花及霉点</li>
                </ul>
            </div>
            <div class="dd_note_item">
                <h3>* 印刷</h3>
                <ul>
                    <li>用3M810胶纸进行油墨附着力测试，印刷后片材堆放高度不能超过1m</li>
                    <li>要够白，一定要清洁好车头才能印白色</li>
                    <li>电脑纹必须经过测试，能读过C级以上才可以出货，请小心片花及霉点</li>
                </ul>
            </div>
            <div class="dd_note_item">
                <h3>烫</h3>
                <ul>
                    <li>* 热烫 电版用：新电版银纸用指定型号不得有任何变更</li>
                    <li>* 不允许有发白块状现象</li>
                    <li>* 烫套位误差≦0.2MM</li>
                    <li>* 粘银不允许，烫银机器要干净，环境要符合要求</li>
                    <li>* 不可发生漏烫、掉银粉</li>
                    <li>* 边缘要直线，无毛边或残缺，狗牙</li>
                    <li>* 注意烫金牢度、用3M胶纸测试烫金附着力</li>
                </ul>
            </div>
            <div class="dd_note_item">
                <h3>啤</h3>
                <ul>
                    <li>* 啤双线，线条柔软度为4星</li>
                    <li>* 啤刀要锋利，不能有毛边</li>
                    <li>* 压力要适当,撕片得以顺畅</li>
                    <li>* 啤线要平整,套位要准确</li>
                    <li>* 注意爆线、刀线错位、毛刺、压印、片花、霉点等不良</li>
                </ul>
            </div>
            <div class="dd_note_item">
                <h3>粘</h3>
                <ul>
                    <li>* 机拖要控制好出片速度，请注意连张；电眼感应（胶盒之间的间距要≧5.0cm）</li>
                    <li>* 不能有漏胶、漏粘胶、短胶；胶尽量打到头，俐仔两头空位≦2mm</li>
                    <li>* 胶水要均匀，要直， 不能有拉丝粘连</li>
                    <li>* 注意胶水牢度，用拉力计检测，达4磅或以上为合格</li>
                    <li>* 注意刮花,要轻拿轻放</li>
                </ul>
            </div>
            <div class="dd_note_item">
                <h3>其他备注</h3>
                <ul>
                    <li>其他备注内容</li>
                </ul>
            </div>
        </div>
    </dl>
</section>

<div class="trace-btn" onclick="window.location.href='/Mobile/Order/trace/id/{$order.id}'">跟踪</div>
<div style="height: 4rem;"></div>
<script type="text/javascript" src="/Public/wcd56/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/Public/wcd56/vue/2.3.4/vue.min.js"></script>
<script type="text/javascript">
    Vue.config.devtools = true;
    $(function () {
        $(".dt_menu").hide();
        $(".dl_detail").hide();
        $("#dl_1").show();
        $("#dt_menu").click(function () {
            if ($(".dt_menu").is(':hidden')) {
                $(".dt_menu").slideDown();
                $("#dt_menu .icon").html('&#xe643;');
            } else {
                $(".dt_menu").slideUp();
                $("#dt_menu .icon").html('&#xe642;');
            }
        });
        $(".dt_menu li").click(function () {
            $(".dl_detail").hide();
            var dl_index = "#dl_" + ($(this).index() + 1);
            $(dl_index).show();
            $("#dt_menu_text").text($(this).text());
            $(".dt_menu").slideUp();
            $("#dt_menu .icon").html('&#xe642;');
        })
    });

    var detail = new Vue({
        el: "#detail",
        data: {
            orderList: {$order_detail},
            specList: {$order_specifications},
            total_weight: 0,
            total_rate: 0,
            total_count: 0,
            total_order_specifications_count: 0,
            total_charging_weight: 0,
            single_declared: 0,
            total_declared: 0
        },
        mounted: function () {
            this.recountTotal();
            this.recountSpecTotal();
        },
        methods: {
            fixedNum: function (num, fix) {
                var $num = Number(num), $fix = Number(fix);
                return $num.toFixed($fix)
            },
            recountTotal: function () {
                this.total_declared = 0;
                for( var i in this.orderList ) {
                    this.total_declared += Number(this.orderList[i].single_declared) * Number(this.orderList[i].detail_count);
                }
            },
            recountSpecTotal: function () {
                //计算合计
                this.total_weight = 0;
                this.total_rate = 0;
                for( var i in this.specList ) {
                    this.specList[i].length = parseFloat(this.specList[i].length).toFixed(1);
                    this.specList[i].width = parseFloat(this.specList[i].width).toFixed(1);
                    this.specList[i].height  = parseFloat(this.specList[i].height).toFixed(1);
                    this.specList[i].weight = parseFloat(this.specList[i].weight).toFixed(1);
                    this.specList[i].rate = parseFloat(this.specList[i].rate).toFixed(1);
                    this.specList[i].charging_weight = this.specList[i].weight > this.specList[i].rate ? this.specList[i].weight: this.specList[i].rate
                    this.specList[i].charging_weight *= this.specList[i].count;
                    this.specList[i].count = parseInt(this.specList[i].count);
                    this.total_weight += this.specList[i].weight * this.specList[i].count;
                    this.total_rate += this.specList[i].rate * this.specList[i].count;
                    this.total_order_specifications_count += parseInt(this.specList[i].count);
                }
                this.total_weight = parseFloat(this.total_weight).toFixed(1);
                this.total_rate = parseFloat(this.total_rate).toFixed(1);

                this.total_charging_weight = Number(this.total_weight) > Number(this.total_rate) ? Number(this.total_weight) : Number(this.total_rate);
            }
        }
    })

</script>
</body>
</html>
